<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Latest compiled and minified CSS -->

    <title>my web</title>
   {{>link}}
  </head>
  <body>
    {{>nav}}
    <div class="heder">
      <div class="left">
        <img src="imge/IMG_1620-01.jpg" alt="" />
      </div>
      <div class="right">
        <p>Welcom to Hit page</p>
        <h1>
          I am A
          <span>NODE JS Developer,</span>
          live in ahemdabad From Somnath
        </h1>
        <button title="se my insta">
          <a
            href="https://www.instagram.com/hit_ahir_14/?igshid=YmMyMTA2M2Y%3D"
            target="_blank"
          >About me now</a>
        </button>
      </div>
    </div>
    {{>footar}}
  
  </body>
</html>