<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Latest compiled and minified CSS -->

    <title>my web</title>
    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="nav">
      <h2 class="nav-h1">
        <a href="" style="color: white"><i class="fa-solid fa-snowflake"></i>Hit
          wethar<i class="fa-solid fa-snowflake"></i></a>
      </h2>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="weather">Wethar</a></li>
        <li><a href="about">About</a></li>
      </ul>
    </div>
    <div class="heder">
      <div class="right">
        <p>Welcom to Weather app</p>
        <h1>Get The Latest <span>weathar </span>info Of your City</h1>
        <button><a href="/weather">Check now</a> </button>
      </div>
      <div class="left">
        <img src="imge/ios_weather_icons-e1519660727179.webp" alt="" />
      </div>
    </div>
    <footer><p>Created by Hit</p></footer>
  </body>
</html>